<div id="nav-top">

</div>

<div class="box-wrapper">
    <div class="box" ng-repeat="post in posts" >
        <div class="box-inner-content">
            <img ng-src={{post.imageUrl}}>
        </div>
            <span class="box-description">
                <h4 class="title"><span class="label alert-danger">{{post.title}}</span></h4>

                <span  ng-repeat="flag in post.flags">
                    <img src="assets/blank.gif" class="{{flag.css}}" alt="{{flag.alt}}" />
                </span>
            </span>
    </div>
</div>

<div id="fixedsocial">
    <div class="twitter-hover social-slide"></div>
    <div class="facebook-hover social-slide"></div>
    <div class="linkedin-hover social-slide"></div>
    <div class="google-hover social-slide"></div>
</div>
<div ui-view0></div>