<div ng-controller="UserCtrl">

    <div id="user-form">
        <form>
          <p><strong>Page</strong>{{tableParams.page()}}</p>
          <p><strong>Count per page</strong>{{tableParams.cpunt()}}</p>
          <table ng-table="tableParams" class="table table-striped table-bordered">
            <tr ng-repeat="user in users">
              <td data-title="'Name'">{{user.name}}</td>
              <td data-title="'Email'">{{user.email}}</td>
              <td data-title="'Username'">{{user.username}}</td>
              <td data-title="'Password'">{{user.password}}</td>
            </tr>

          </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usersModal">Create Users</button>

        </form>

    </div>
    <!--Modal-->
    <div class="modal fade" id="usersModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input id="name" type="text" ng-model="formData.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input id="email" type="text" ng-model="formData.email">
                    </div>
                    <div class="form-group">
                        <label for="username">User name: </label>
                        <input id="username" type="text" ng-model="formData.username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input id="password" type="text" ng-model="formData.password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-click="CreateUser()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
